{%extends 'base.html.twig' %}

 {% block title %}PHP website{% endblock title %}

{% block body %}
<h1>driving instructor</h1>
{% if instructors%}
<table id="table" class="table table-striped">
    <thead>
      <tr>
        <th>instructor</th>
        <th>instructor actions</th>
      </tr>
    </thead>
    <tbody>
      {% for x in instructors %}
        <tr>
          <td>{{ x.name }}</td>
          <td>
            <a href="/instructor/{{x.id}}" class="btn btn-dark">Show</a>
          </td>
          <td>
            <a href="/di/edit/{{x.id}}" class="btn btn-primary">edit</a>
          </td>
          <td>
            <a href="#" class="btn btn-danger delete-instructor" data-id={{x.id}}>delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No instrutors to display</p>
{% endif %}
{% endblock %}

{%block javascripts%}
<script src ="/js/main.js"></script>
{% endblock %}