{%extends 'base.html.twig' %}

 {% block title %}PHP website{% endblock title %}
{% block body %}
<h1>New Driving Instructor</h1>
{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}
<hr>
<a href="/drivinginstructors">Back</a>
{% endblock %}
