{%extends 'base.html.twig' %}

 {% block title %}All Driving Instrcutors{% endblock title %}

{% block body %}
<h1>All Driving Instrcutors</h1>
{% if instructors%}
<table id="table" class="table table-striped">
    <thead>
      <tr>
        <th>Instructor Name</th>
        <th>Instructor Email</th>
        <th>Instructor Phone</th>
        <th>Years of experience</th>
      </tr>
    </thead>
    <tbody>
      {% for x in instructors %}
        <tr>
          <td>{{ x.name }}</td>
          <td>{{ x.email }}</td>
          <td>{{ x.phonenumber }}</td>
          <td>{{ x.experience }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="/drivinginstructors" class="btn btn-info vertical-center" role="button">Go Back</a>
{% else %}
  <p>No instrutors to display</p>
  <a href="/drivinginstructors" class="btn btn-info vertical-center" role="button">Go Back</a>
{% endif %}
{% endblock %}

{%block javascripts%}
<script src ="/js/main.js"></script>
{% endblock %}