{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

</style>

<div class="example-wrapper">
    <h1>Welcome to the Student Hub! ✅</h1>

    <br>
    <h2>What is this used for?</h2>

    <br>

    <p>Using this Hub you have the ability to do th follwing commands on students.<p>

    <ul>
        <li>Create a new Student.</li>
        <li>View all Students.</li>
        <li>Edit student details.</li>

    </ul?


    <br>
    </ul>

    <div class="container-lg">
        <div class="row">
            <div class="col">
             <div class="card-deck">
            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">
                  <a href="/createStudent">Create student </a>
                </h5>
                </div>
          </div>
    
          <div class="row">
            <div class="col">
             <div class="card-deck">
            <div class="card text-white bg-active mb-3" style="max-width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">
                  <a href="/viewStudents">View all students </a>
                </h5>
                </div>
          </div>
    
          <div class="row">
            <div class="col">
             <div class="card-deck">
            <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">
                  <a href="/editStudents">Edit student details </a>
                </h5>
                </div>
          </div>
    
    
        </div>
    
</div>


{% endblock %}
