{% extends 'base.html.twig' %}

{% block title %}Getting started{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .vertical-center {  margin: 100; position: absolute;left: 50%;}
</style>

<div class="example-wrapper">
    <h1>12 Lessons!</h1>
    <br>
    

    <h2>What will I learn?</h2>


    <br>

    <p>At TUD Driving School, we give 12 lessons for our students to learn everything they need to know about driving and how to persist through teh full driving teste<p>


    <br>

    <p>Here are the 12 lessons and what you will learn </p>
    
        <br>
        
        
</div>

<table id="table" class="table table-striped">
    <thead>
      <tr>
        <th><h4>Lesson Number</h4></th>
        <th><h4>Description</h4></th>
        <th><h4>Difficulty</h4></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>1</td>
          <td>Car controls and safety checks</td>
          <td>Beginner</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Correct positioning</td>
            <td>Beginner</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Changing Direction</td>
            <td>Beginner</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Progression Management</td>
            <td>Beginner</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Correct positioning (more complex situations)</td>
            <td>intermediate</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Anticipation and reaction</td>
            <td>intermediate</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Sharing the road</td>
            <td>intermediate</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Driving safely through traffic</td>
            <td>intermediate</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Changing Direction (More complex situations)</td>
            <td>Advanced</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Speed management</td>
            <td>Advanced</td>
          </tr>
          <tr>
            <td>11</td>
            <td>Speed management</td>
            <td>Advanced</td>
          </tr>
          <tr>
            <td>12</td>
            <td>Night Driving</td>
            <td>Advanced</td>
          </tr>

            





     
    </tbody>
  </table>

  <a href="/" class="btn btn-info vertical-center" role="button">Go Back</a>
    
{% endblock %}