{% extends 'base.html.twig' %}

{% block title %}Getting started{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Start your journey here!</h1>
    <br>
    

    <h2>How do I get a full licencse?</h2>


    <br>

    <p>At TUD Driving School, we help our pupils all the way through the learning to drive process in Ireland. With expert How to Get Started Driving advice always on hand, you will have an outstanding resource of knowledge and guidance available to ensure your success.<p>


    <br>

    <p>View our 12 step guide below to become a full liencense driver<p>
    
        <br>
        
        
</div>

<div class="container-lg">
    <div class="row">
        <div class="col">
         <div class="card-deck">
        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
            <div class="card-header">Get Started</div>
            <div class="card-body">
              <h4 class="card-title">Driving 101</h4>
              <p class="card-text">Your one stop guide to becoming a full licencse driver.</p>
              <a href="/getStarted">Get started! </a>
            </div>
      </div>

      <div class="row">
        <div class="col">
         <div class="card-deck">
        <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
            <div class="card-header">What lessons?</div>
            <div class="card-body">
              <h4 class="card-title">EDT Lessons</h4>
              <p class="card-text">Find out what you will learn over the course of 12 lessons.</p>
              <a href="/edt">Get started! </a>
            </div>
      </div>

      <div class="row">
        <div class="col">
         <div class="card-deck">
        <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
            <div class="card-header">How much?</div>
            <div class="card-body">
              <h4 class="card-title">Prices</h4>
              <p class="card-text">Click here to find out how much our services cost.</p>
              <a href="/prices">Get started! </a>
            </div>
      </div>


    </div>
{% endblock %}