{% extends 'base.html.twig' %}

{% block title %}Getting started{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .vertical-center {  margin: 100; position: absolute;left: 50%;}
</style>

<div class="example-wrapper">
    <h1>Start your journey here!</h1>
    <br>
    

    <h2>How do I get a full licencse?</h2>


    <br>

    <p>At TUD Driving School, we help our pupils all the way through the learning to drive process in Ireland. With expert How to Get Started Driving advice always on hand, you will have an outstanding resource of knowledge and guidance available to ensure your success.<p>


    <br>

    <p>View our 9 step guide below to become a full liencense driver<p>
    
        <br>
        
        
</div>

<table id="table" class="table table-striped">
    <thead>
      <tr>
        <th><h4>Step Number</h4></th>
        <th><h4>Description</h4></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>1</td>
          <td>Prepare for your Theory Test</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Apply for your Theory Test in Dublin</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Apply for your Learner Permit in Dublin</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Complete your Essential Driver Training Course</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Satisfy the 6 Month Rule</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Apply for your Driving Test Dublin</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Take Pretest Lessons </td>
        </tr>
        <tr>
            <td>8</td>
            <td>Pass Your Driving Test First Time</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Apply for your Full Driving Licence</td>
        </tr>

     
    </tbody>
  </table>

  <a href="/" class="btn btn-info vertical-center" role="button">Go Back</a>
    
{% endblock %}